.github-section {
  width: 100%;
  margin-top: 5rem;
  text-align: center;
}

.github_Calender {
  width: 95%;
  max-width: 1000px;
  margin: 3rem auto 0;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: auto;
  padding: 1rem 0;
}

/* GitHub Calendar */
.github_Calender svg {
  max-width: 100%;
}

/* Tablet */
@media (max-width: 800px) {
  .github-section {
    margin-top: 4rem;
  }

  .github_Calender {
    width: 95%;
    justify-content: flex-start;
    overflow-x: auto;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .github-section {
    margin-top: 3rem;
  }

  .github_Calender {
    width: 100%;
    padding: 1rem 0.5rem;

    justify-content: flex-start;
    overflow-x: auto;
  }
}