.gitstat-section {
  width: 100%;
  margin-top: 6rem;
  text-align: center;
}

.gitstat-container {
  width: 90%;
  max-width: 700px;
  margin: 3rem auto 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gitstat-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gitstat-card a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gitstat-card img {
  display: block;
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 500px) {
  .gitstat-section {
    margin-top: 4rem;
  }

  .gitstat-container {
    width: 95%;
    margin-top: 2rem;
  }

  .gitstat-card img {
    max-width: 100%;
  }
}