.skills {
  width: 100%;
  margin-top: 10rem;
  text-align: center;
}

.skills__container {
  width: 70%;
  max-width: 850px;
  margin: 3rem auto 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  row-gap: 0.8rem;

  text-align: left;
}

.skills__item {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0.5rem 0;

  font-size: 1.05rem;
  line-height: 1.5;
}

.skills__item .icons {
  display: flex;
  align-items: center;
  margin-right: 0.6rem;
}

/* Tablet */
@media (max-width: 800px) {
  .skills {
    margin-top: 6rem;
  }

  .skills__container {
    width: 85%;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .skills__item {
    font-size: 1rem;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .skills {
    margin-top: 5rem;
  }

  .skills__container {
    width: 90%;
    margin-top: 2rem;
  }

  .skills__item {
    font-size: 0.95rem;
  }
}