.footerSection {
  width: 100%;
  margin-top: 5rem;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerBox {
  text-align: center;
}
.footer {
  margin: 0;
  font-size: 0.95rem;
  color: var(--clr-fg-alt);
}
.footerHeart {
  color: red;
  background: transparent;
  margin: 0 4px;
}
.footerName {
  color: var(--clr-primary);
  font-weight: 600;
} /* Mobile */
@media (max-width: 500px) {
  .footerSection {
    margin-top: 3rem;
    padding: 1.5rem 0;
  }
  .footer {
    font-size: 0.85rem;
  }
}
